<configuration>
    <timestamp key="today" datePattern="yyyyMMdd"/>
    <!-- Application Log File setting appender -->
    <appender name="APP_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/jeongin/Desktop/LOG/app-service/app-%d{yyyyMMdd}_%i.log</fileNamePattern>
<!--            <fileNamePattern>/LOG/app-server/app-%d{yyyyMMdd}_%i.log</fileNamePattern>-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>  <!-- 1GB를 초과하면 새로운 파일 생성 -->
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error Log File setting appender -->
    <appender name="ERROR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/Users/jeongin/Desktop/LOG/app-service/err-%d{yyyyMMdd}_%i.log</fileNamePattern>
<!--            <fileNamePattern>/LOG/app-server/err-%d{yyyyMMdd}_%i.log</fileNamePattern>-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1GB</maxFileSize>  <!-- 1GB를 초과하면 새로운 파일 생성 -->
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Log setting appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APP_LOG_FILE" />
    </root>

    <!-- Error Level Logger (ERROR 이상 레벨만 ERROR_LOG_FILE에 기록) -->
    <logger name="com.mooo.devforin" level="ERROR">
        <appender-ref ref="ERROR_LOG_FILE"/>
    </logger>

</configuration>
